    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Us</h2>
              <br/>
                <p>While working closely with Northrop Grumman we've created a 3D Antenna Visualization Tool</p>
                <p>Our AVT is currently a desktop application that allows users to visualize various 3D Models and have the ability to scale and rotate it via mouse movements.</p>
                <p>Users also can load antenna locations via a CSV file that will place them on the specified model.</p>
                <p>We currently have support for a few 3D file types such as .obj, .vtk, .stl, .ply and many more to come in the near future!</p>
                <p><b>Team Members: James Leung, Dalton Harenza, Thomas Wu</b></p>
                <br/>
              </div>
        </div>
    </section>
