<section id="video">
    <div class="banner">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Video</h2>
                    <div class="lead">
                        <p>This is a <a href="https://www.youtube.com/watch?v=E1GDdNYzrLE&amp;feature=youtu.be">video</a> showing all the aspects of our project. It displays 3 types of planes as well as the antenna placements of one.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/services/video.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
</section>
<!-- /.banner -->